
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Menüler</div>
                            <a class="nav-link" href="/AdminBlog/Index/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Bloglar
                            </a>
                            <a class="nav-link" href="/AdminBlog/AddBlog/">
                                <div class="sb-nav-link-icon"><i class="fas fa-apple-alt"></i></div>
                                Yeni Blog Oluştur
                            </a>
                            <a class="nav-link" href="/AdminCategory/Index/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Kategoriler
                            </a>
                            <a class="nav-link" href="/AdminCategory/AddCategory/">
                                <div class="sb-nav-link-icon"><i class="fas fa-apple-alt"></i></div>
                                Yeni Kategori Oluştur
                            </a>
                                <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Yorumlar
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Aboneler
                            </a>
                            </div>
                    </div>
                </nav>
